body {
    font-family: sans-serif;
}

header {
    background-color: skyblue;
    padding: 40px;
    border-radius: 10px;
}

header a {
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    color: green;
    background-color: springgreen;
    font-size: 20px;
}

footer {
    padding: 10px;
    background-color: skyblue;
    margin-top: 18px;
    border-radius: 10px;

}

body {
    font-family: sans-serif;
}

footer a {
    margin-left: 20px;
}

h1 {
    color: skyblue;
    text-align: center;
    text-shadow: 7px 4px 2px gray;
    font-size: 70px;
    border-radius: 7px;
    border: 5px steelblue;
}

nav a {
    color: black;
    margin-left: 20px;
}

main p {
    font-size: 20px;
    margin-left: 15px;
}

li {
    font-size: 20px;
}

main a {
    color: rgb(87, 155, 182);
}
